/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html, body {
    width: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 10px;
    font-size: 1.6rem;
}

h1 {
  font-size: 7.2rem;

  @media (max-width: 500px) {
    font-size: 4.8rem;
  }
}
/*

*/

p {
  font-size: 1.6rem;
}


.container {
  max-width: 880px;
  width: 100%;
  margin: auto;
  
  @media (max-width: 500px) {
    width: 90%;
    border: 1px solid blue;
  }
}



/* header */
header {
  width: 100%;
  display: flex;
  font-size: 1.6rem;

  @media (max-width: 500px) {
    flex-wrap: nowrap;
    border: 2px solid mediumvioletred;
}
}
/*

*/
header nav {
  width: 100%;
  margin: 38px 1% 0;
  justify-content: space-between;
  display: flex;
}
/*
@media (max-width: 500px) {
    header nav {
        width: 100%;
        margin-top: 25px 5px 0;
        justify-content: space-between;
    }
}
*/
header nav a {
  text-decoration: none;
  color: #b0b0b0;
}
/*
@media (max-width: 500px) {
    header nav a {
        margin-right: 10px;
        justify-content: space-between;
    }
}
*/
header nav a:hover {
  text-decoration: underline;
  color: black;
}

header .logo {
  align-self: flex-end;
  margin: 28px 0 0 9%;
  @media (max-width: 500px) {
    display: none;
  }
}

/* cta */

.cta {
  display: flex;
  margin-top: 72px;
  justify-content: flex-end;
}
/*
@media (max-width: 500px) {
    .cta {
        margin: 0 5%;
    }
}*/

.cta .cta-text {    
  text-align: center;
  letter-spacing: 5px;
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  margin: 0 9% 0 0;
}
/*
@media (max-width: 500px) {
    .cta .cta-text {
        margin: 10% 5%;
    }
}*/

.cta .cta-text h1 {
  letter-spacing: 5px;
  margin-bottom: 5px;
  font-size: 7.2rem;
}

.cta .cta-text button {
  background: white;
  vertical-align: top;
  margin-top: 6px;
  padding: 8px 44px;
  font-size: 17px;
  border: 1px solid black;
  cursor: pointer;
}
/*
@media (max-width: 500px) {
    .cta .cta-text button {
        margin: 5% 5% 10px;
    }
}*/

.cta .cta-text button:hover {
  background: black;
  color: white;
}

.cta img {
  max-width: 100%;
  margin-right: 1%;

  @media (max-width: 500px){
    display: none;
  }
}


.main-content {
  border-top: 2px solid black;
  margin-top: 76px;
  padding-top: 39px;
}

@media (max-width: 500px) {
    .main-content {
        width: 500px;
        margin-top: 30px;
        padding-top: 20px;
    }
}

.main-content .top-content {
  padding: 0 10px;
  display: flex;
}

.main-content .top-content .text-content {
  width: 410px;
  display: flex;
  flex-wrap: wrap;
  margin-right: 34px;
}

.main-content .top-content .text-content:last-child {
  width: 410px;
  margin-right: 0;
  display: flex;
}

.main-content .middle-img {
  margin-top: 45px;
}

@media (max-width: 500px) {
    .main-content .middle-img {
        margin-top: 45px;
        display: flex;
        width: 500px;
      }
}

.main-content .bottom-content {
  margin-top: 37px;
  padding: 0 10px;
  display: flex;
}

.main-content .bottom-content .text-content {
  width: 275px;
  margin-right: 12px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.main-content .bottom-content .text-content:last-child {
  margin-right: 0;
}

.services-header-img {
  margin-top: 25px;
}

.services {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid black;
}

.services .services-text {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 25px 0 50px;
  font-weight: 600;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 400px;
  height: 250px;
  padding: 20px;
  margin-top: 40px;
  font-weight: 600;
  background-color: whitesmoke;
  border: 1px solid black;
}

.services-button {
  display: flex;
  width: 125px;
  padding: 10px;
  font-size: 11px;
  display: flex;
  border: 1px solid darkslategray;
  border-radius: 5px;
  background-color: white;
}

ul {
  list-style-type: square;
}
.contact {
  margin-top: 57px;
  border-top: 1px solid black;
  padding: 39px 10px 0;
}

@media (max-width: 500px) {
    .contact {
        width: 100%;
        margin-top: 57px;
        border-top: 1px solid black;
        padding: 39px 10px 0;
      }
}

.contact p {
  margin: 20px 0;
}

@media (max-width: 500px) {
    .contact p {
        margin: 20px 0;
      }
}

footer {
  margin: 32px 0;
  text-align: center;
  font-size: 14px;
}

@media (max-width: 500px) {
    footer {
        margin: 32px 0;
        text-align: center;
        font-size: 14px;
      }
}